.filters {
    background-color: white;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    display: flex;
    align-items: center;
    position: relative;
}
.locations,
.amenities {
    height: 100%;
    width: 25%;
    float: left;
}

.locations {
    border-right: 1px solid #DDDDDD;
}

.locations h3,
.amenities h3 {
    font-weight: 600;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 0px;
    text-align: left;
    margin-left: 30px;
}

.locations h4,
.amenities h4 {
    font-weight: 400;
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: left;
    margin-left: 30px;
}

.filters .popover {
  display: none;
  background-color: #FAFAFA;
  border: 1px solid #DDDDDD;
  border-radius: 4px;
  list-style-type: none;
  padding-top: 20px;
  padding-bottom: 20px;
  z-index: 10;
  position: relative;
}
.filters h2 {
  font-size: 16px;
  margin-left: -20px;
}
.filters li {
  cursor: pointer;
  list-style-type: none;
}
.filters .locations:hover .popover,
.filters .amenities:hover .popover {
  display: block;
}

.filters button {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    opacity: 0.9;
}
  
.filters button:hover {
    opacity: 1;
}
